.indigo-400{
   background-color: #6710f28a;
}

a{
   color: #0dfdfd;
}
a:hover{
   color: #fd0db3;
}

.title-color{
   color: #0dfdfd;
}

select{
   height: 1.5;
}
/* table CSS */
table{
   text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2;}