<nav class="navbar navbar-expand-lg navbar-light indigo-400">
   <div class="container">
      <a class="navbar-brand" href="/">Lionel Messi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/salary">Salary</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/covid-19">Covid-19</a>
            </li>
         </ul>
         <span class="navbar-text">
            <h2 class="title-color">Personal Information Tracking</h2>
         </span>
      </div>
   </div>
</nav>